body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center ;
    align-items: center;
    height: 100vh; 
}


#todo-app {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
   max-width: 500px;
}

#new-task {
    width: 70%;
    padding: 5px;
}

#task-list {
    list-style-type: none;
    padding: 0;
}

#task-list li {
    margin: 5px 0;
    padding: 5px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#new-task, #task-category {
    width: 30%;
    padding: 5px;
    margin-right: 10px;
}

#task-list li.completed {
    text-decoration: line-through;
    color: #999;
}

button {
    background-color: #5cb85c;
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer;

}

button:hover {
    background-color: #4cae4c;
}
/* Styles pour les priorités de tâches */
.faible {
    background-color: #70c402; 
}

.moyenne {
    background-color: #29a2f3; 
}

.élevée {
    background-color: #e4980b; 
}
/* Style pour les tâches dépassées */
.overdue {
    color: red; 
}


/*  **      ******      ******        ******              *****           *****       ******          ********            ****  */
/*                                                      Responsive                                                              */
/*  **      ******      ******        ******              *****           *****       ******          ********            ****  */

@media only screen and (max-width: 600px) 
{
    #todo-app {
        width: 100%;
        margin: 10px; 
    }

    #task-list 
    {
        list-style: none ;
        padding: 0;
    }

    #task-list li {
    background-color: #eee;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    }

    #task-list li.overdue 
    {
        background-color: #f2dede;        

    }

    #task-list li.completed 
    {
    text-decoration: line-through;
    color: #888;
    }

    #task-list button 
    {
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    }
}